.profile-img-icon {
  width: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-7 {
  font-size: 0.7rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.premium-link {
  color: #bdaf9b;
}

.mt-6 {
  margin-top: 100px !important;
}

/* Sezione Interests, buttons */
.toggle-btn-custom {
  color: #000 !important; /* testo nero */
  background-color: white !important; /* sfondo grigio chiaro */
  border: none !important;
}

.btn-check:checked + .toggle-btn-custom,
.toggle-btn-custom.active {
  color: #000 !important; /* testo nero */
  background-color: #f4f2ee !important; /* sfondo grigio chiaro */
  border-bottom: 2px solid black !important;
}
.toggle-btn-custom:hover {
  color: #000 !important; /* testo nero */
  background-color: #f4f2ee !important; /* sfondo grigio chiaro */
}
.dropdown-menu {
  position: absolute !important;
  z-index: 1050;
}

.mini-img {
  width: 15px;
  height: 15px;
}

.badge-oro {
  background-color: #fce3bc !important;
  font-size: 0.6rem !important;
  border: none !important;
}

.icon-hover {
  color: #6c757d;
}

.icon-hover.active {
  color: #000 !important;
  fill: #000 !important;
}

/* Hover: icona nera */
.nav-link:hover .icon-hover {
  color: #000 !important;
  fill: #000 !important;
}

/* Active: icona nera */
.toggle-btn-custom.active .icon-hover {
  color: #000 !important;
  fill: #000 !important;
}
.toggle-btn-custom,
.nav-link {
  background-color: transparent !important;
}
