.profile-img-icon {
  width: 20px;
}

.fs-7 {
  font-size: 0.7rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.premium-link {
  color: #bdaf9b;
}

.mt-6 {
  margin-top: 100px !important;
}

.dropdown-menu {
  position: absolute !important;
  z-index: 1050;
}
